GitPython
Pillow
accelerate
pydantic<2
pyngrok

basicsr
blendmodes
clean-fid
einops
fastapi>=0.90.1
gfpgan
gradio==3.41.2
inflection
jsonmerge
kornia
lark
numpy
omegaconf
open-clip-torch
opencv-python-headless

piexif
psutil
pytorch_lightning==1.6.5
realesrgan
requests
resize-right

safetensors
scikit-image>=0.19
timm
tomesd
torchdiffeq
torchsde
transformers==4.30.2

httpcore
httpx==0.24.1

git+https://github.com/runpod/runpod-python.git
git+https://github.com/TencentARC/GFPGAN.git@8d2447a2d918f8eba5a4a01463fd48e45126a379
git+https://github.com/openai/CLIP.git@d50d76daa670286dd6cacf3bcd80b5e4823fc8e1
git+https://github.com/mlfoundations/open_clip.git@v2.20.0